body{
  background-color: black;
  
}
p{
  color: white;
}
h1{
  color: white;
}
h3{
  color: white;
}
h6{
  color: grey;
  font-style: italic;
}
ul{
  color: white;
}
img{
  border-radius: 5px;
}
a {
  text-align: left; 
 font-size: 15px;
 border-style: outset;
 border-color: ;
 border-radius: 3px;
  padding: inherit;
  text-decoration: none;
  color: white;
}
