.left{
  float: left;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.a2{
  color: lightskyblue;
  font-size: 19px;
  border-style: none;
}
body{
  background-color: black;
  
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
p{
  color: white;
  font-size: 19px;
}
h1{
  color: white;
}
h2{
  color: white;
}
h3{
  color: white;
  font-size: 20px;
}
h6{
  color: grey;
  font-style: italic;
}
ul{
  color: white;
  font-size: 17px;
}
img{
  border-radius: 5px;
  max-width: 100%;
  height: auto;
}
a {
  text-align: left; 
 font-size: 30px;
 border-style: outset;
 border-color: grey ;
 border-radius: 3px;
  padding: inherit;
  text-decoration: none;
  color: white;
}
